<%= form_with model: @condition, local: true do |form| %>
 
  <% if @condition.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@condition.errors.count, "error") %> prohibited
        this condition from being saved:
      </h2>
      <ul>
        <% @condition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="editForm">
    <p>
      <%= form.label :attr_name %>
      <%= form.text_field :attr_name, class: "editTextField" %>
    </p>
    <p>
      <%= form.label :min %>
      <%= form.text_field :min, class: "editTextField" %>
    </p>
    <p>
      <%= form.label :max %>
      <%= form.text_field :max, class: "editTextField" %>
    </p>
  </div>

  <%= form.submit class: "submitForm" %>

 
<% end %>