
<p>
      <strong>Health:</strong>
      <%= @user.health%>/100<br><br>
      <strong>Alcohol:</strong>
      <%= @user.alcohol%>/100<br><br>
      <strong>Happy:</strong>
      <%= @user.happy%>/10<br><br>
      <strong>Tired:</strong>
      <%= @user.tired%>/100<br><br>
      <strong>Money:</strong>
      <%= @user.money%>$<br><br>

      <strong>Actions:</strong>
        <%= render 'valera_actions/index'%><br><br>
</p>